* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #e6b3b3;
  border-radius: 2px;
}
@font-face {
  font-family: "Inder";
  src: url("http://s.jiyinyiyong.info/fonts/inder.woff") format("woff");
}
@font-face {
  font-family: "oxygen-mono";
  src: url("http://s.jiyinyiyong.info/fonts/oxygen-mono.woff") format("woff");
}
body {
  margin: 0px;
  font-family: "Inder", "wenquanyi micro hei", "microsoft yahei";
}
#banner {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 10px #e6e6e6;
  margin-bottom: 20px;
  padding: 32px;
  font-size: 20px;
}
#banner>a:first-child {
  font-size: 40px;
}
#banner .name,
#banner .seperate {
  margin-right: 8px;
  color: #e6e6e6;
}
#banner .seperate {
  color: #d1d1fa;
}
#banner a.name {
  color: #a3a3f5;
}
#side {
  position: fixed;
  top: 150px;
  text-align: right;
  left: 40px;
  width: 260px;
  font-size: 18px;
  max-height: 400px;
  padding-right: 10px;
  white-space: nowrap;
  overflow-y: hidden;
  direction: rtl;
}
#side:hover {
  overflow-y: auto;
}
#side .curr {
  background: #f5f5f5;
}
#side a {
  border-radius: 17px;
  display: inline-block;
  box-shadow: 0px 0px 2px #ccc;
  padding: 8px 12px;
  margin: 8px 0px;
  max-width: 220px;
  overflow: hidden;
  direction: ltr;
}
#body {
  box-shadow: 0px 0px 10px #ccc;
  position: absolute;
  left: 340px;
  top: 160px;
  font-size: 16px;
  width: 900px;
  padding: 40px 40px 300px 40px;
  background: #fff;
  line-height: 30px;
}
#body code,
#body pre {
  font-size: 14px;
  font-family: Monaco, "oxygen-mono";
}
#body p {
  margin: 16px 0px;
  line-height: 30px;
  max-width: 820px;
}
#body p>code,
#body>code {
  padding: 2px 6px;
  background: ghostWhite;
  box-shadow: 0px 0px 2px #ccc;
}
#body pre {
  padding: 2px 8px;
  margin: 0px;
  margin-left: -8px;
  padding: 4px 10px;
}
#body pre code {
  box-shadow: 0px 0px 4px #ccc;
}
a {
  text-decoration: none;
  color: #a3a3f5;
}
a:visited {
  color: #1994e6;
}
h1,
h2 {
  margin: 50px 20px;
  text-transform: capitalize;
}
ul,
blockquote {
  max-width: 800px;
}
