!!!5
html
  head
    title #{title}
    meta(charset='utf-8')
    link(rel='stylesheet',href="/self/css/github.css")
    link(rel='stylesheet',href="/self/css/markdown.css")
    link(rel='stylesheet',href='/self/css/global.css')
    //- script(src='http://192.168.1.101:7777/doodle.js')
  body
    #banner
      a.name(href='/') JiyinYiyong
      for name in paths
        span.seperate /
        a.name(href="#{name.url}")= name.text
    #side
      for item in files
        .file
          if item.url == undefined
            a.curr= item.text
          else
            a.filename(href='#{item.url}')= item.text
    #body!= html