
*
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,80)
  border-radius 2px

@font-face
  font-family "Inder"
  src url("http://s.jiyinyiyong.info/fonts/inder.woff") format("woff")

@font-face
  font-family "oxygen-mono"
  src url("http://s.jiyinyiyong.info/fonts/oxygen-mono.woff") format("woff")

body
  margin 0px
  font-family "Inder", "wenquanyi micro hei", "microsoft yahei"

#banner
  width 100%
  position fixed
  left 0px
  top 0px
  box-shadow 0px 0px 10px hsl(0,0,90)
  margin-bottom 20px
  padding 32px
  font-size 20px

  &>a:first-child
    font-size 40px

  .name, .seperate
    margin-right 8px
    color hsl(0,0,90)

  .seperate
    color hsl(240,80,90)

  a.name
    color hsl(240,80,80)

#side
  position fixed
  top 150px
  text-align right
  left 40px
  width 260px
  font-size 18px
  max-height 400px
  padding-right 10px
  white-space nowrap
  overflow-y hidden
  direction rtl

  &:hover
    overflow-y auto

  .curr
    background hsl(240,0,96)
    // box-shadow 0px 0px 2px hsl(0,0,0)

  a
    border-radius 17px
    display inline-block
    box-shadow 0px 0px 2px hsl(0,0,80)
    padding 8px 12px
    margin 8px 0px
    max-width 220px
    overflow hidden
    direction ltr

#body
  box-shadow 0px 0px 10px hsl(0,0,80)
  position absolute
  left 340px
  top 160px
  font-size 16px
  width 900px
  padding 40px 40px 300px 40px
  background white
  line-height 30px

  code, pre
    font-size 14px
    font-family Monaco, "oxygen-mono"
    // background ghostWhite

  p
    margin 16px 0px
    line-height 30px
    max-width 820px

  p>code, &>code
    padding 2px 6px
    background ghostWhite
    box-shadow 0px 0px 2px hsl(0,0,80)

  pre
    padding 2px 8px
    margin 0px
    margin-left -8px
    padding 4px 10px
    code
      box-shadow 0px 0px 4px hsl(0,0,80)

a
  text-decoration none
  color hsl(240,80,80)

  &:visited
    color hsl(204,80,50)

h1, h2
  margin 50px 20px
  text-transform capitalize

ul, blockquote
  max-width 800px
